Repository pingcap/tiflow, pull requests merged in 2021-10, with the labels that each got.

#2968 test(pkg/config): fix defaultServerConfig unexpected data race (#2957)
  pkg/config/config.go
  pkg/config/sorter.go
Labels: type/bugfix, status/LGT2, status/can-merge, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/M, needs-cherry-pick-release-5.1, release-note-none, needs-cherry-pick-release-5.2

#2920 test(pkg/version): migrate test-infra to testify for pkg/version pkg
  pkg/version/check_test.go
  pkg/version/main_test.go
Labels: component/test, status/LGT2, status/can-merge, size/L, release-note

#2886 test(pkg/errors): migrate test-infra to testify for pkg/errors pkg
  pkg/errors/helper_test.go
  pkg/errors/main_test.go
Labels: component/test, status/LGT2, status/can-merge, size/M, release-note

#2942 test(pkg/config): migrate test-infra to testify for pkg/config pkg (#2825)
  pkg/config/config_test.go
  pkg/config/main_test.go
  pkg/config/sorter.go
Labels: component/test, status/LGT1, status/can-merge, size/L, require-LGT1, release-note-none

#2752 changefeed: refine the logic about changefeed error
  cdc/http_handler.go
  cdc/model/http_model.go
  cdc/model/http_model_test.go
  cdc/owner/changefeed.go
  cdc/owner/feed_state_manager.go
  tests/_utils/check_logs_contains
  tests/changefeed_auto_stop/run.sh
  tests/processor_err_chan/run.sh
Labels: status/ptal, component/replica-model, status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-5.2

#2984 test(pkg/pipeline): migrate test-infra to testify for pkg/pipeline pkg
  pkg/pipeline/main_test.go
  pkg/pipeline/pipeline_test.go
Labels: component/test, status/LGT1, status/can-merge, size/L, require-LGT1, release-note-none

#2995 docs: add design doc template and linter
  .github/workflows/docs_lint.yaml
  docs/design/.gitignore
  docs/design/2020-02-24-ticdc-mq-protocol-cn.md
  docs/design/2020-03-04-ticdc-design-and-architecture-cn.md
  docs/design/2020-03-25-ticdc-high-availability-new-design-cn.md
  docs/design/2020-04-13-ticdc-auto-gc-safepoint-1-cn.md
  docs/design/2020-04-13-ticdc-auto-gc-safepoint-2-cn.md
  docs/design/2020-07-16-ticdc-avro-protocol-design.md
  docs/design/2020-11-04-ticdc-protocol-list.md
  docs/design/README.md
  docs/design/TEMPLATE.md
  docs/design/package-lock.json
  docs/design/package.json
Labels: component/docs, status/LGT2, status/can-merge, size/XL, release-note-none

#2963 README: correct run kafka integration test command.
  tests/README.md
Labels: status/LGT1, status/can-merge, size/XS, require-LGT1, release-note-none

#2996 test(pkg/regionspan): migrate test-infra to testify for pkg/regionspan
  pkg/regionspan/region_range_lock_test.go
  pkg/regionspan/region_test.go
  pkg/regionspan/span_test.go
Labels: component/test, status/LGT2, status/can-merge, size/L, release-note-none

#3187 schema_storage: verbose DDL log
  cdc/entry/schema_storage.go
Labels: component/ddl, status/LGT2, status/can-merge, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, component/metrics-logging, needs-cherry-pick-release-5.1, release-note-none, needs-cherry-pick-release-5.2

#2815 redolog: add redo log into cdc core logic, add integration tests
  cdc/owner/changefeed.go
  cdc/processor/pipeline/table.go
  cdc/processor/processor.go
  cdc/redo/manager.go
  cdc/redo/manager_test.go
  cdc/sink/manager.go
  cdc/sink/manager_test.go
  cdc/sink/table_sink.go
  tests/consistent_replicate_local/conf/changefeed.toml
  tests/consistent_replicate_local/conf/diff_config.toml
  tests/consistent_replicate_local/conf/workload
  tests/consistent_replicate_local/run.sh
  tests/consistent_replicate_s3/conf/changefeed.toml
  tests/consistent_replicate_s3/conf/diff_config.toml
  tests/consistent_replicate_s3/conf/workload
  tests/consistent_replicate_s3/run.sh
Labels: status/ptal, status/LGT2, status/can-merge, size/XL, release-note-none, component/redolog
