Repository pingcap/tiflow, pull requests merged in 2022-08, with the labels that each got.

#6550 scheduler(ticdc): fix premature promotion after restarting commit
  cdc/scheduler/internal/v3/capture_manager.go
  cdc/scheduler/internal/v3/capture_manager_test.go
  cdc/scheduler/internal/v3/replication_manager.go
  cdc/scheduler/internal/v3/replication_manager_test.go
  cdc/scheduler/internal/v3/replication_set.go
  cdc/scheduler/internal/v3/replication_set_test.go
  cdc/scheduler/internal/v3/scheduler_balance.go
  cdc/scheduler/internal/v3/scheduler_basic.go
  cdc/scheduler/internal/v3/scheduler_basic_test.go
Labels: component/scheduler, status/LGT2, status/can-merge, size/L, release-note-none, area/ticdc, needs-cherry-pick-release-6.2

#6527 sinkv2(ticdc): use table sink state instead of table state
  cdc/sinkv2/eventsink/event.go
  cdc/sinkv2/eventsink/mq/mq_dml_sink_test.go
  cdc/sinkv2/eventsink/mq/worker.go
  cdc/sinkv2/eventsink/mq/worker_test.go
  cdc/sinkv2/tablesink/state/state.go
  cdc/sinkv2/tablesink/state/state_test.go
  cdc/sinkv2/tablesink/table_sink_impl.go
  cdc/sinkv2/tablesink/table_sink_impl_test.go
Labels: component/sink, status/LGT2, status/can-merge, size/L, release-note-none, area/ticdc, needs-cherry-pick-release-6.2

#6509 e2e(engine): use OpenAPI to create job in e2e tests
  engine/servermaster/openapi.go
  engine/test/e2e/e2e_dm_test.go
  engine/test/e2e/e2e_test.go
  engine/test/e2e/e2e_test_cli.go
Labels: status/ptal, status/LGT2, status/can-merge, size/L, release-note-none, area/engine

#6518 redo(ticdc): changefeed global resolved timestamp should never fallback
  cdc/owner/changefeed.go
  cdc/processor/pipeline/sink.go
  cdc/redo/manager.go
  cdc/redo/manager_test.go
  cdc/redo/writer/blackhole_writer.go
  cdc/redo/writer/writer.go
  tests/integration_tests/consistent_replicate_s3_schev2/conf/changefeed.toml
  tests/integration_tests/consistent_replicate_s3_schev2/conf/diff_config.toml
  tests/integration_tests/consistent_replicate_s3_schev2/conf/server.toml
  tests/integration_tests/consistent_replicate_s3_schev2/conf/workload
  tests/integration_tests/consistent_replicate_s3_schev2/run.sh
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6435 meta(engine): switch etcd business metastore to sql metastore
  engine/chaos/manifests/conf/server-master.toml
  engine/deployments/docker-compose/1m1e.yaml
  engine/deployments/docker-compose/1m3e.yaml
  engine/deployments/docker-compose/3m3e.yaml
  engine/deployments/docker-compose/config/master.toml
  engine/pkg/cmd/master/master.go
  engine/pkg/dbutil/util.go
  engine/pkg/meta/connection.go
  engine/pkg/meta/internal/sqlkv/sql_impl.go
  engine/pkg/meta/internal/sqlkv/sql_impl_test.go
  engine/pkg/meta/model/common.go
  engine/pkg/meta/model/config.go
  engine/pkg/meta/model/config_test.go
  engine/pkg/meta/util.go
  engine/pkg/orm/log.go
  engine/pkg/orm/log_test.go
  engine/pkg/orm/util.go
  engine/servermaster/config.go
  engine/servermaster/config_test.go
  engine/servermaster/server.go
  engine/servermaster/server_test.go
  engine/test/e2e/e2e_node_chaos_test.go
  engine/test/e2e/e2e_test_cli.go
  engine/test/e2e/e2e_worker_exit_test.go
  engine/test/integration_tests/e2e_node_failure/run.sh
  engine/test/integration_tests/e2e_worker_error/run.sh
  go.mod
  go.sum
Labels: status/ptal, status/LGT2, status/can-merge, size/XXL, release-note-none, area/engine

#6485 precheck(dm): fix MySQL 8.0 SHOW GRANTS with role
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
  cdc/entry/schema_storage_test.go
  dm/dumpling/dumpling.go
  dm/syncer/syncer.go
  dm/tests/full_mode/data/db2.prepare.user.sql
  dm/tests/full_mode/run.sh
  dm/tests/incremental_mode/run.sh
  dm/tests/many_tables/run.sh
  dm/tests/tracker_ignored_ddl/run.sh
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/L, release-note, area/dm, area/ticdc

#6443 processor(cdc): remove dependency on the cdc self defined context
  cdc/contextutil/ctx.go
  cdc/contextutil/ctx_test.go
  cdc/processor/manager.go
  cdc/processor/manager_test.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  cdc/sink/black_hole.go
  cdc/sink/metrics/statistics.go
  cdc/sink/mq/mq.go
  cdc/sink/mq/mq_flush_worker_test.go
  cdc/sink/mysql/mysql.go
  cdc/sink/mysql/mysql_test.go
  pkg/context/context.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#6562 sinkv2(ticdc): copy sink/metrics to sinkv2/metrics
  cdc/sinkv2/metrics/metrics.go
  cdc/sinkv2/metrics/statistics.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#6563 scheduler(cdc): add unit test for new the agent v3.
  cdc/scheduler/internal/v3/agent/agent.go
  cdc/scheduler/internal/v3/agent/agent_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#6566 chaos(engine): fix chaos test fail
  .github/workflows/dataflow_engine_chaos.yaml
  engine/chaos/cases/case_fake_job.go
  engine/chaos/cases/config.go
  engine/chaos/manifests/conf/server-master.toml
  engine/chaos/manifests/metastore.yaml
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6568 tests(ticdc): increase waiting time for Canal JSON case
  Makefile
  scripts/canal/docker/start.sh
  tests/integration_tests/README.md
  tests/integration_tests/canal_json_adapter_compatibility/run.sh
Labels: component/test, status/LGT2, status/can-merge, size/M, release-note-none, area/ticdc

#6564 scheduler(ticdc): inline secondary to captures map
  cdc/scheduler/internal/v3/member/capture_manager_test.go
  cdc/scheduler/internal/v3/replication/replication_manager_test.go
  cdc/scheduler/internal/v3/replication/replication_set.go
  cdc/scheduler/internal/v3/replication/replication_set_test.go
  cdc/scheduler/internal/v3/scheduler/scheduler_basic_test.go
  cdc/scheduler/internal/v3/scheduler/scheduler_drain_capture_test.go
  cdc/scheduler/internal/v3/scheduler/scheduler_rebalance_test.go
Labels: component/scheduler, status/LGT2, status/can-merge, size/XXL, release-note-none, area/ticdc

#6565 sinkv2(ticdc): add sink factory
  cdc/sinkv2/eventsink/factory/factory.go
  cdc/sinkv2/eventsink/factory/factory_test.go
  cdc/sinkv2/eventsink/factory/main_test.go
  cdc/sinkv2/tablesink/table_sink_impl_test.go
  cdc/sinkv2/util/mq/kafka_producer_helper.go
  cdc/sinkv2/util/mq/kafka_producer_helper_test.go
  cdc/sinkv2/util/mq/main_test.go
  tests/integration_tests/canal_json_adapter_compatibility/run.sh
Labels: component/sink, status/LGT2, status/can-merge, size/XL, release-note-none, area/ticdc

#6502 test(dm): fix upstream switch CI and reduce versions in upgrading CI
  .github/workflows/upgrade_dm_via_tiup.yaml
  dm/syncer/checkpoint.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, area/dm

#6579 openapi(engine): use application/json in submit job api
  engine/servermaster/openapi.go
  engine/servermaster/openapi_test.go
  engine/test/e2e/e2e_test.go
  engine/test/e2e/e2e_test_cli.go
Labels: status/ptal, status/LGT2, status/can-merge, size/L, release-note-none, area/engine

#6572 test(dm): fix using pgrep to check argument pattern
  dm/tests/_utils/wait_process_exit
  dm/tests/compatibility/start.sh
  dm/tests/duplicate_event/run.sh
  dm/tests/shardddl1/run.sh
  dm/tests/shardddl2/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6406 test(engine): add helm deployment
  .github/workflows/dataflow_engine_chaos.yaml
  .github/workflows/dataflow_engine_e2e.yaml
  Makefile
  engine/README.md
  engine/chaos/cases/case_fake_job.go
  engine/chaos/cases/config.go
  engine/chaos/manifests/Dockerfile
  engine/chaos/manifests/chaos-values.yaml
  engine/chaos/manifests/conf/executor.toml
  engine/chaos/manifests/conf/server-master.toml
  engine/chaos/manifests/executor.yaml
  engine/chaos/manifests/metastore.yaml
  engine/chaos/manifests/network-emulation-dataflow.yaml
  engine/chaos/manifests/network-partition-dataflow.yaml
  engine/chaos/manifests/pod-failure-dataflow.yaml
  engine/chaos/manifests/pod-kill-dataflow.yaml
  engine/chaos/manifests/server-master.yaml
  engine/chaos/manifests/time-shift-dataflow.yaml
  engine/deployments/docker-compose/1m1e.yaml
  engine/deployments/docker-compose/1m3e.yaml
  engine/deployments/docker-compose/1meta.yaml
  engine/deployments/docker-compose/3m3e.yaml
  engine/deployments/docker-compose/config/master.toml
  engine/deployments/docker-compose/dm_databases.yaml
  engine/deployments/docker/dev.Dockerfile
  engine/deployments/helm/tiflow/.helmignore
  engine/deployments/helm/tiflow/Chart.yaml
  engine/deployments/helm/tiflow/templates/_helpers.tpl
  engine/deployments/helm/tiflow/templates/cases.yaml
  engine/deployments/helm/tiflow/templates/configmap.yaml
  engine/deployments/helm/tiflow/templates/executor.yaml
  engine/deployments/helm/tiflow/templates/metastore-etcd.yaml
  engine/deployments/helm/tiflow/templates/metastore-mysql.yaml
  engine/deployments/helm/tiflow/templates/server-master.yaml
  engine/deployments/helm/tiflow/values.yaml
  engine/pkg/orm/config.go
  engine/servermaster/config.go
  engine/test/e2e/dm-job.yaml
  engine/test/e2e/e2e_dm_test.go
  engine/test/integration_tests/dm_basic/run.sh
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, area/engine

#6595 makefile(ticdc): set default goal correctly
  Makefile
Labels: status/LGT1, status/can-merge, size/XS, require-LGT1, release-note-none

#6597 scheduler(ticdc): advance checkpoint on every poll
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/coordinator_test.go
Labels: component/scheduler, status/LGT2, status/can-merge, size/L, release-note-none, area/ticdc

#6594 *(ticdc): support health API
  Makefile
  cdc/api/v1/api.go
  cdc/api/v1/api_test.go
  cdc/owner/mock/status_provider_mock.go
  cdc/owner/owner.go
  cdc/owner/owner_test.go
  cdc/owner/status_provider.go
  cdc/scheduler/internal/info_provider.go
  cdc/scheduler/internal/v2/info_provider.go
  cdc/scheduler/internal/v3/info_provider.go
  cdc/scheduler/internal/v3/info_provider_test.go
  errors.toml
  pkg/errors/cdc_errors.go
Labels: status/LGT2, status/can-merge, size/XL, release-note, area/ticdc, component/api

#6588 meta(engine): fix irreentrance problem of creating meta kv table
  engine/pkg/meta/internal/sqlkv/sql_impl.go
  engine/pkg/meta/internal/sqlkv/sql_impl_test.go
  go.mod
  go.sum
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6602 etcd(cdc): retry on etcd return raft stopped error to make owner more robust to pd member change
  cdc/kv/region_worker.go
  go.mod
  pkg/errorutil/ignore.go
  pkg/errorutil/ignore_test.go
  pkg/etcd/client.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#6508 engine(dm): implement update config
  engine/deployments/docker-compose/3m3e.yaml
  engine/deployments/docker-compose/dm_databases.yaml
  engine/executor/dm/api_test.go
  engine/executor/dm/worker.go
  engine/executor/dm/worker_test.go
  engine/jobmaster/dm/api.go
  engine/jobmaster/dm/api_test.go
  engine/jobmaster/dm/checkpoint/agent.go
  engine/jobmaster/dm/checkpoint/agent_test.go
  engine/jobmaster/dm/config/config.go
  engine/jobmaster/dm/config/config_test.go
  engine/jobmaster/dm/dm_jobmaster.go
  engine/jobmaster/dm/dm_jobmaster_test.go
  engine/jobmaster/dm/metadata/job.go
  engine/jobmaster/dm/metadata/job_test.go
  engine/jobmaster/dm/openapi.go
  engine/jobmaster/dm/openapi_test.go
  engine/jobmaster/dm/runtime/task_status.go
  engine/jobmaster/dm/runtime/task_status_test.go
  engine/jobmaster/dm/runtime/worker_status.go
  engine/jobmaster/dm/runtime/worker_status_test.go
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/task_manager_test.go
  engine/jobmaster/dm/worker_manager.go
  engine/jobmaster/dm/worker_manager_test.go
  engine/test/e2e/dm-job.yaml
  engine/test/e2e/e2e_dm_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/XXL, release-note-none, area/engine

#6613 scheduler,processor(ticdc): update capture liveness by heartbeat
  cdc/capture/capture_test.go
  cdc/model/http_model.go
  cdc/model/http_model_test.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  cdc/scheduler/internal/agent.go
  cdc/scheduler/internal/v2/processor_agent.go
  cdc/scheduler/internal/v2/processor_agent_test.go
  cdc/scheduler/internal/v3/agent/agent.go
  cdc/scheduler/internal/v3/agent/agent_test.go
  cdc/scheduler/rexport.go
Labels: component/scheduler, status/LGT2, status/can-merge, size/L, release-note-none, area/ticdc

#6599 fake(engine): add cached checkpoint in job master
  engine/framework/fake/fake_master.go
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6593 test(dm): fix unstable DM_RESYNC_NOT_FLUSHED_CASE
  dm/tests/shardddl4_1/run.sh
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#6622 client(engine): implement tombstones in ExecutorGroup
  engine/pkg/client/errors.go
  engine/pkg/client/executor_group.go
  engine/pkg/client/executor_group_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/L, release-note-none, area/engine

#6619 framework(engine): remove 'JobMasterID' method from 'BaseJobMaster' interface
  engine/framework/base_jobmaster.go
  engine/jobmaster/dm/api.go
  engine/jobmaster/dm/api_test.go
  engine/jobmaster/dm/dm_jobmaster.go
  engine/jobmaster/dm/dm_jobmaster_test.go
  engine/jobmaster/dm/openapi_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6297 pkg/container(cdc) add ChunkQueue for tiflow
  cdc/scheduler/internal/v2/agent.go
  cdc/sink/flowcontrol/flow_control.go
  cdc/sink/mysql/simple_mysql_tester.go
  cdc/sink/mysql/txn_cache.go
  cdc/sink/table_sink.go
  docs/media/chunkqueue_design.jpg
  go.mod
  pkg/container/README.md
  pkg/container/queue/chunk.go
  pkg/container/queue/chunkqueue.go
  pkg/container/queue/chunkqueue_test.go
  pkg/container/queue/iterator.go
  pkg/container/queue/iterator_test.go
  pkg/p2p/client.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#6589 sinkv2(ticdc): add config to enable the new sink
  Makefile
  cdc/owner/ddl_sink.go
  cdc/owner/ddl_sink_test.go
  cdc/processor/pipeline/sink.go
  cdc/processor/pipeline/sink_test.go
  cdc/processor/pipeline/table_actor.go
  cdc/processor/pipeline/table_actor_test.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  cdc/sink/mock/mock_sink.go
  cdc/sinkv2/ddlsink/factory/factory.go
  cdc/sinkv2/ddlsink/mq/ddlproducer/kafka_ddl_producer.go
  cdc/sinkv2/eventsink/factory/factory.go
  cdc/sinkv2/eventsink/factory/factory_test.go
  cdc/sinkv2/tablesink/table_sink.go
  cdc/sinkv2/tablesink/table_sink_impl.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/replica_config.go
  tests/integration_tests/canal_json_adapter_compatibility/conf/server.toml
  tests/integration_tests/canal_json_adapter_compatibility/run.sh
Labels: component/sink, status/LGT2, status/can-merge, size/XXL, release-note-none, area/ticdc

#6642 makefile(all): add format and check targets for makefiles
  Makefile
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#6578 dep: update TiDB to introduce SchemaTracker
  dm/pkg/schema/tracker.go
  dm/tests/dmctl_basic/run.sh
  dm/tests/metrics/run.sh
  dm/tests/validator_basic/run.sh
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/L, release-note-none, area/dm

#6648 cli(engine): optimize tiflow cli
  engine/pkg/cmd/cli/cli_job.go
  engine/pkg/cmd/cli/cli_job_create.go
  engine/test/integration_tests/run.sh
Labels: status/LGT2, status/can-merge, size/S, release-note-none, area/engine

#6624 test(dm): inject error to a not-auto-resume source
  dm/tests/shardddl2/run.sh
Labels: status/LGT1, status/can-merge, size/S, require-LGT1, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6647 capture(ticdc): disable best effort graceful shutdown
  cdc/capture/capture.go
  cdc/capture/capture_test.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none, area/ticdc

#6569 framework(engine): maintain worker epoch in heartbeat and worker manager
  engine/enginepb/executor.pb.go
  engine/executor/dm/worker_test.go
  engine/executor/server.go
  engine/framework/base_jobmaster.go
  engine/framework/base_jobmaster_test.go
  engine/framework/fake/fake_master.go
  engine/framework/internal/master/worker_entry.go
  engine/framework/internal/master/worker_manager.go
  engine/framework/internal/master/worker_manager_test.go
  engine/framework/internal/worker/master_client.go
  engine/framework/internal/worker/master_client_test.go
  engine/framework/master.go
  engine/framework/master_test.go
  engine/framework/mock_master_util.go
  engine/framework/mock_worker_util.go
  engine/framework/model/messages.go
  engine/framework/model/status.go
  engine/framework/registry/registry.go
  engine/framework/registry/registry_test.go
  engine/framework/worker.go
  engine/jobmaster/dm/dm_jobmaster_test.go
  engine/jobmaster/example/master_impl_test.go
  engine/pkg/client/executor_service_client.go
  engine/pkg/orm/client_test.go
  engine/proto/executor.proto
Labels: status/ptal, status/LGT2, status/can-merge, size/XL, release-note-none, area/engine

#6439 meta(engine): decouple the model creation and client creation for framework meta
  engine/chaos/manifests/chaos-values.yaml
  engine/deployments/docker-compose/config/master.toml
  engine/deployments/helm/tiflow/values.yaml
  engine/executor/server.go
  engine/executor/server/metastore.go
  engine/executor/server/metastore_test.go
  engine/executor/server/mocks/metastore_mock.go
  engine/pkg/meta/client.go
  engine/pkg/meta/client_test.go
  engine/pkg/meta/connection.go
  engine/pkg/meta/connection_test.go
  engine/pkg/meta/internal/etcdkv/builder.go
  engine/pkg/meta/internal/etcdkv/connection.go
  engine/pkg/meta/internal/etcdkv/connection_test.go
  engine/pkg/meta/internal/mockkv/builder.go
  engine/pkg/meta/internal/registry.go
  engine/pkg/meta/internal/sqlkv/builder.go
  engine/pkg/meta/internal/sqlkv/connection.go
  engine/pkg/meta/internal/sqlkv/sql_impl.go
  engine/pkg/meta/internal/sqlkv/sql_impl_test.go
  engine/pkg/meta/mock/clientconn_mock.go
  engine/pkg/meta/mock/simple_mockclient.go
  engine/pkg/meta/model/common.go
  engine/pkg/meta/model/config.go
  engine/pkg/meta/model/config_test.go
  engine/pkg/meta/model/interfaces.go
  engine/pkg/orm/client.go
  engine/pkg/orm/client_test.go
  engine/pkg/orm/mock.go
  engine/pkg/orm/mock_test.go
  engine/pkg/orm/model/logic_epoch.go
  engine/pkg/orm/model/logic_epoch_test.go
  engine/pkg/orm/util.go
  engine/pkg/orm/util_test.go
  engine/servermaster/config.go
  engine/servermaster/config_test.go
  engine/servermaster/server.go
  engine/test/e2e/e2e_test_cli.go
  errors.toml
  go.mod
  pkg/errors/engine_errors.go
Labels: status/ptal, status/LGT2, status/can-merge, size/XXL, release-note-none, type/enhancement, area/engine

#6649 sinkv2(ticdc): add black hole sink
  cdc/model/changefeed.go
  cdc/sinkv2/ddlsink/blackhole/black_hole_ddl_sink.go
  cdc/sinkv2/ddlsink/factory/factory.go
  cdc/sinkv2/eventsink/blackhole/black_hole_dml_sink.go
  cdc/sinkv2/eventsink/factory/factory.go
  cdc/sinkv2/eventsink/factory/factory_test.go
  pkg/cmd/cli/cli_changefeed_create.go
  pkg/config/sink.go
  pkg/sink/sink_type.go
Labels: component/sink, status/LGT2, status/can-merge, size/L, release-note-none, area/ticdc

#6442 cli/(ticdc): Validate `--overwrite-checkpoint-ts` boundary in changefeed resume
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  errors.toml
  pkg/cmd/cli/cli_changefeed_resume.go
  pkg/errors/cdc_errors.go
  pkg/txnutil/gc/gc_service.go
  pkg/txnutil/gc/gc_service_test.go
  tests/integration_tests/changefeed_resume_with_checkpoint_ts/run.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#6662 redo(cdc): merge 0822 redo hotfix
  cdc/owner/changefeed.go
  cdc/processor/pipeline/sink.go
  cdc/redo/manager.go
  cdc/redo/manager_test.go
  cdc/redo/writer/blackhole_writer.go
  cdc/redo/writer/writer.go
  tests/integration_tests/consistent_replicate_s3_schev2/conf/changefeed.toml
  tests/integration_tests/consistent_replicate_s3_schev2/conf/diff_config.toml
  tests/integration_tests/consistent_replicate_s3_schev2/conf/server.toml
  tests/integration_tests/consistent_replicate_s3_schev2/conf/workload
  tests/integration_tests/consistent_replicate_s3_schev2/run.sh
Labels: status/LGT2, status/can-merge, size/XL, cherry-pick-approved, release-note-none

#6571 sinkv2(ticdc): add sinkv2 mysql DML utils
  cdc/sinkv2/eventsink/txn/mysql/dml.go
  cdc/sinkv2/eventsink/txn/mysql/dml_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#6675 test(engine): fix 'database table is lock' bug for sqlite backend test
  engine/pkg/meta/mock/clientconn_mock.go
Labels: status/ptal, status/LGT2, status/can-merge, size/XS, release-note-none, area/engine

#6616 test(engine): add an integration test for DM
  Makefile
  dm/config/task.go
  engine/deployments/docker-compose/config/mysql2.cnf
  engine/deployments/docker-compose/dm_databases.yaml
  engine/jobmaster/dm/config/config.go
  engine/pkg/meta/internal/sqlkv/util.go
  engine/test/integration_tests/README.md
  engine/test/integration_tests/dm_full_mode/conf/diff_config.toml
  engine/test/integration_tests/dm_full_mode/conf/job.yaml
  engine/test/integration_tests/dm_full_mode/run.sh
  engine/test/utils/check_sync_diff
  engine/test/utils/exec_with_retry
  engine/test/utils/run_sql
  scripts/download-sync-diff.sh
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, area/engine

#6626 api(ticdc): status api add cluster id
  cdc/api/v1/api.go
  cdc/api/v1/api_test.go
  cdc/model/http_model.go
  cdc/server/server_test.go
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#6627 owner(cdc): cdc healthy also check cluster consistency
  cdc/owner/owner.go
  cdc/owner/owner_test.go
  cdc/owner/status_provider.go
  pkg/txnutil/gc/testing.go
  pkg/version/check.go
  pkg/version/check_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#6489 syncer(dm): refine codes to prepare combine location recorder
  dm/pkg/binlog/position.go
  dm/pkg/binlog/position_test.go
  dm/pkg/binlog/reader/reader.go
  dm/syncer/binlogstream/binlog_locations.go
  dm/syncer/binlogstream/binlog_locations_test.go
  dm/syncer/binlogstream/streamer_controller.go
  dm/syncer/binlogstream/streamer_controller_test.go
  dm/syncer/binlogstream/util.go
  dm/syncer/data_validator_test.go
  dm/syncer/syncer.go
  dm/syncer/syncer_test.go
  dm/tests/drop_column_with_index/run.sh
  dm/worker/source_worker.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, area/dm

#6661 tracker(dm): fix downstream table structure reports key too long
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note, area/dm, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6667 pkg/regionspan(ticdc): remove dead code and fix typos
  pkg/regionspan/span.go
Labels: status/LGT1, status/can-merge, size/M, require-LGT1, release-note-none

#6654 openapi(engine): add get/resign leader api
  engine/docs/swagger/docs.go
  engine/docs/swagger/swagger.json
  engine/docs/swagger/swagger.yaml
  engine/servermaster/campaign.go
  engine/servermaster/cluster/election.go
  engine/servermaster/openapi.go
  engine/servermaster/openapi_test.go
  engine/servermaster/server.go
  engine/test/e2e/e2e_node_chaos_test.go
  engine/test/e2e/e2e_test_cli.go
  errors.toml
  pkg/errors/engine_errors.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, area/engine

#6679 api(cdc): drain capture also check store version
  cdc/owner/owner.go
  cdc/owner/owner_test.go
  pkg/txnutil/gc/testing.go
  pkg/upstream/manager.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.2

#6620 dm(engine): cache finished status
  engine/executor/dm/api.go
  engine/executor/dm/worker.go
  engine/executor/dm/worker_test.go
  engine/jobmaster/dm/api.go
  engine/jobmaster/dm/api_test.go
  engine/jobmaster/dm/dm_jobmaster.go
  engine/jobmaster/dm/dm_jobmaster_test.go
  engine/jobmaster/dm/openapi_test.go
  engine/jobmaster/dm/runtime/task_status.go
  engine/test/e2e/e2e_dm_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/L, release-note-none, area/engine

#6673 pdutil(ticdc): split `tidb_ddl_job` table
  cdc/sink/mq/codec/craft/codec_test.go
  pkg/pdutil/pd_api_client.go
  pkg/pdutil/pd_api_client_test.go
  pkg/regionspan/span.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, area/ticdc, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.2

#6681 ci(engine): upgrade ci env from ubuntu 18.04 to 20.04
  .github/workflows/dataflow_engine_chaos.yaml
Labels: status/ptal, status/LGT2, status/can-merge, size/XS, release-note-none, area/engine

#6670 mock(engine): prepare correct master meta to make master works normally
  engine/framework/master_test.go
  engine/framework/mock_master_util.go
  engine/jobmaster/example/master_impl_test.go
  engine/servermaster/jobmanager_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6690 engine(dm): verify source-id for job config
  engine/jobmaster/dm/config/config.go
  engine/jobmaster/dm/config/config_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/S, release-note-none, area/engine

#6692 optimist ddl: fix safe redirect after gtid event
  dm/syncer/shardddl.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, area/dm, needs-cherry-pick-release-6.2

#6710 version(ticdc): adjust cdc version range to 6.3.0-alpha ~ 8.0.0-alpha
  pkg/version/check.go
  pkg/version/check_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#6678 sinkv2(ticdc): add kafka metrics
  cdc/sinkv2/ddlsink/mq/ddlproducer/ddl_producer.go
  cdc/sinkv2/ddlsink/mq/ddlproducer/kafka_ddl_mock_producer.go
  cdc/sinkv2/ddlsink/mq/ddlproducer/kafka_ddl_producer.go
  cdc/sinkv2/ddlsink/mq/ddlproducer/kafka_ddl_producer_test.go
  cdc/sinkv2/ddlsink/mq/kafka_ddl_sink.go
  cdc/sinkv2/eventsink/mq/dmlproducer/dml_producer.go
  cdc/sinkv2/eventsink/mq/dmlproducer/kafka_dml_mock_producer.go
  cdc/sinkv2/eventsink/mq/dmlproducer/kafka_dml_producer.go
  cdc/sinkv2/eventsink/mq/dmlproducer/kafka_dml_producer_test.go
  cdc/sinkv2/eventsink/mq/kafka_dml_sink.go
  cdc/sinkv2/eventsink/mq/worker_test.go
  cdc/sinkv2/metrics/kafka/collector.go
  cdc/sinkv2/metrics/kafka/metric.go
  cdc/sinkv2/metrics/metrics.go
  cdc/sinkv2/metrics/statistics.go
  pkg/sink/sink_type.go
Labels: component/sink, status/LGT2, status/can-merge, size/XXL, release-note-none, area/ticdc

#6703 test(dm): split other test cases and fix unstable test
  dm/tests/checkpoint_transaction/run.sh
  dm/tests/others_integration_1.txt
  dm/tests/others_integration_2.txt
  dm/tests/others_integration_3.txt
Labels: status/LGT2, status/can-merge, size/S, release-note-none, area/dm, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#6592 schema,regionspan(cdc): use generic version btree to improve performance
  cdc/entry/schema/snapshot.go
  pkg/regionspan/region_range_lock.go
Labels: status/LGT2, status/can-merge, size/L, release-note

#6666 dm: print the dashboard address if OpenAPI enabled
  dm/master/server.go
  dm/master/server_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note, type/enhancement, area/dm

#6688 message(engine): waiting response is aware of client finished
  dm/config/task.go
  engine/executor/dm/worker.go
  engine/jobmaster/dm/dm_jobmaster.go
  engine/pkg/dm/message_agent.go
  engine/pkg/dm/message_agent_test.go
  engine/pkg/dm/mock_message_agent.go
  engine/test/e2e/dm-job.yaml
Labels: status/LGT2, status/can-merge, size/L, release-note-none, area/engine

#6715 processor(ticdc): fix log make cdc instance panic
  cdc/capture/capture.go
  cdc/processor/processor.go
  pkg/upstream/upstream.go
Labels: type/bug, status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6721 sinkv2(ticdc): remove useless role in eventsink
  cdc/sinkv2/ddlsink/mq/ddlproducer/kafka_ddl_producer.go
  cdc/sinkv2/ddlsink/mq/kafka_ddl_sink.go
  cdc/sinkv2/ddlsink/mq/mq_ddl_sink.go
  cdc/sinkv2/eventsink/mq/dmlproducer/kafka_dml_producer.go
  cdc/sinkv2/eventsink/mq/dmlproducer/kafka_dml_producer_test.go
  cdc/sinkv2/eventsink/mq/kafka_dml_sink.go
  cdc/sinkv2/eventsink/mq/mq_dml_sink.go
  cdc/sinkv2/eventsink/mq/worker.go
  cdc/sinkv2/eventsink/txn/event.go
  cdc/sinkv2/eventsink/txn/worker.go
  cdc/sinkv2/metrics/kafka/collector.go
  cdc/sinkv2/metrics/statistics.go
  cdc/sinkv2/tablesink/progress_tracker.go
Labels: component/sink, status/LGT2, status/can-merge, size/L, release-note-none, area/ticdc

#6671 redo(ticdc): owner and processores shouldn't share one redo log writer
  cdc/owner/changefeed.go
  cdc/processor/pipeline/sink.go
  cdc/processor/processor.go
  cdc/redo/main_test.go
  cdc/redo/manager.go
  cdc/redo/manager_test.go
  cdc/redo/options.go
  cdc/redo/writer/blackhole_writer.go
  cdc/redo/writer/file.go
  cdc/redo/writer/main_test.go
  cdc/redo/writer/writer.go
  cdc/redo/writer/writer_test.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6591 mock(engine): use pure-go sqlite to suppress build warning
  engine/pkg/meta/internal/sqlkv/sql_impl_test.go
  engine/pkg/meta/mock/clientconn_mock.go
  engine/pkg/orm/util.go
  engine/pkg/orm/util_test.go
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6573 syncer(dm): add the function GetDDLStatusFromTidb()
  dm/syncer/util.go
  dm/syncer/util_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, area/dm

#6713 *(ticdc): remove level db implement for sorter
  cdc/capture/capture.go
  cdc/processor/pipeline/sorter.go
  cdc/server/metrics.go
  cdc/sorter/db/buffer.go
  cdc/sorter/db/buffer_test.go
  cdc/sorter/db/compactor.go
  cdc/sorter/db/compactor_test.go
  cdc/sorter/db/db.go
  cdc/sorter/db/db_test.go
  cdc/sorter/db/message/task.go
  cdc/sorter/db/message/task_test.go
  cdc/sorter/db/metrics.go
  cdc/sorter/db/reader.go
  cdc/sorter/db/reader_test.go
  cdc/sorter/db/sorter.go
  cdc/sorter/db/sorter_test.go
  cdc/sorter/db/system/system.go
  cdc/sorter/db/system/system_test.go
  cdc/sorter/db/writer.go
  cdc/sorter/db/writer_test.go
  errors.toml
  pkg/cmd/server/server_test.go
  pkg/config/config_test_data.go
  pkg/config/db.go
  pkg/config/server_config.go
  pkg/context/context.go
  pkg/db/db_test.go
  pkg/db/leveldb.go
  pkg/db/metrics.go
  pkg/db/pebble.go
  pkg/errors/cdc_errors.go
Labels: status/LGT2, status/can-merge, size/XXL, component/sorter, release-note-none, area/ticdc

#6722 cli (ticdc): fix changefeed query does not output tables' id.
  pkg/cmd/cli/cli_changefeed_query.go
  pkg/cmd/cli/cli_changefeed_statistics.go
  pkg/cmd/cli/cli_processor_list.go
  pkg/cmd/cli/cli_processor_query.go
Labels: status/LGT2, status/can-merge, size/M, cherry-pick-approved, release-note-none

#6736 build(engine): move engine/deployements to deployments/engine
  .github/workflows/check_and_build.yaml
  .github/workflows/dataflow_engine_chaos.yaml
  .github/workflows/dataflow_engine_e2e.yaml
  Makefile
  deployments/engine/docker-compose/1m1e.yaml
  deployments/engine/docker-compose/1m3e.yaml
  deployments/engine/docker-compose/1meta.yaml
  deployments/engine/docker-compose/1prometheus.yaml
  deployments/engine/docker-compose/3m3e.yaml
  deployments/engine/docker-compose/config/alertmanager.yml
  deployments/engine/docker-compose/config/demo.json
  deployments/engine/docker-compose/config/etcd.yml
  deployments/engine/docker-compose/config/executor.toml
  deployments/engine/docker-compose/config/fake_job.json
  deployments/engine/docker-compose/config/master.toml
  deployments/engine/docker-compose/config/mysql.cnf
  deployments/engine/docker-compose/config/mysql2.cnf
  deployments/engine/docker-compose/config/mysql_meta.cnf
  deployments/engine/docker-compose/config/prometheus.yml
  deployments/engine/docker-compose/demo.yaml
  deployments/engine/docker-compose/dm_databases.yaml
  deployments/engine/docker/Dockerfile
  deployments/engine/docker/dev.Dockerfile
  deployments/engine/helm/tiflow/.helmignore
  deployments/engine/helm/tiflow/Chart.yaml
  deployments/engine/helm/tiflow/templates/_helpers.tpl
  deployments/engine/helm/tiflow/templates/cases.yaml
  deployments/engine/helm/tiflow/templates/configmap.yaml
  deployments/engine/helm/tiflow/templates/executor.yaml
  deployments/engine/helm/tiflow/templates/metastore-etcd.yaml
  deployments/engine/helm/tiflow/templates/metastore-mysql.yaml
  deployments/engine/helm/tiflow/templates/server-master.yaml
  deployments/engine/helm/tiflow/values.yaml
  deployments/engine/run-engine.sh
  engine/README.md
  engine/deployments/run-engine.sh
  engine/test/utils/run_engine.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6742 actions(dm): upgrade Ubuntu image version
  .github/workflows/dm_binlog_999999.yaml
  .github/workflows/dm_chaos.yaml
  .github/workflows/dm_upstream_switch.yaml
  .github/workflows/upgrade_dm_via_tiup.yaml
Labels: status/LGT2, status/can-merge, size/S, release-note-none, area/dm

#6744 cli(ticdc): drop interactive cmd support
  pkg/cmd/cli/cli.go
  pkg/cmd/cli/cli_changefeed_update.go
  pkg/cmd/cli/cli_changefeed_update_test.go
  pkg/cmd/cli/cli_test.go
Labels: status/LGT2, status/can-merge, size/M, component/cli, release-note-none, area/ticdc

#6605 etcd(cdc): refactor pd access method
  cdc/capture/capture.go
  cdc/capture/capture_test.go
  cdc/scheduler/internal/v2/processor_agent_test.go
  cdc/server/server.go
  cdc/server/server_test.go
  pkg/cmd/factory/factory_impl.go
  pkg/etcd/client_test.go
  pkg/etcd/etcd.go
  pkg/etcd/etcd_test.go
  pkg/etcd/mock/etcd_client_mock.go
  pkg/etcd/testing.go
  pkg/migrate/migrate.go
  pkg/migrate/migrate_test.go
  pkg/orchestrator/etcd_worker_bank_test.go
  pkg/orchestrator/etcd_worker_test.go
  pkg/pdutil/api_client.go
  pkg/pdutil/api_client_test.go
  pkg/pdutil/clock.go
  pkg/upstream/upstream.go
  tests/utils/cdc_state_checker/cdc_monitor.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none

#6743 owner(ticdc): remove ddl allow list support
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/model/changefeed_test.go
  cdc/processor/processor_test.go
  pkg/config/config_test_data.go
  pkg/config/filter.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/utils.go
  pkg/filter/utils_test.go
  pkg/migrate/migrate_test.go
  pkg/orchestrator/reactor_state_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, area/ticdc, component/owner

#6739 validator(dm): fix unstable test
  dm/tests/validator_basic/run.sh
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, area/dm, needs-cherry-pick-release-6.1

#6748 test(engine): fix paths in integration test scripts
  engine/README.md
  engine/test/integration_tests/README.md
  engine/test/integration_tests/run.sh
  engine/test/utils/run_engine.sh
  engine/test/utils/start_engine_cluster
Labels: status/LGT2, status/can-merge, size/S, release-note-none, area/engine

#6719 processor(ticdc): refactor create processor method
  cdc/api/v2/unsafe_test.go
  cdc/capture/capture.go
  cdc/owner/owner.go
  cdc/processor/manager.go
  cdc/processor/manager_test.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  pkg/context/context.go
  pkg/upstream/manager.go
  pkg/upstream/manager_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, type/enhancement

#6752 sorter(ticdc): remove dead code
  cdc/processor/pipeline/sorter_test.go
  cdc/sorter/db/sorter.go
  cdc/sorter/db/sorter_test.go
  cdc/sorter/memory/entry_sorter.go
  cdc/sorter/memory/entry_sorter_test.go
  cdc/sorter/sorter.go
  cdc/sorter/unified/unified_sorter.go
  cdc/sorter/unified/unified_sorter_test.go
Labels: status/LGT2, status/can-merge, size/XL, component/sorter, release-note-none, area/ticdc

#6741 test(dm): fix two unstable tests
  dm/tests/shardddl1_1/run.sh
  dm/tests/shardddl_optimistic/run.sh
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, area/dm, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#6755 deployment(engine): fix invalid variable type in docker compose env
  deployments/engine/docker-compose/1m1e.yaml
  deployments/engine/docker-compose/1m3e.yaml
  deployments/engine/docker-compose/1meta.yaml
  deployments/engine/docker-compose/dm_databases.yaml
Labels: status/ptal, status/LGT2, status/can-merge, size/S, release-note-none, area/engine

#6740 changefeed(ticdc): refactor new changefeed method attach the reactor directly
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/owner.go
  cdc/owner/owner_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#6760 actions(dm): revert to Ubuntu 18 for dm-ansible
  .github/workflows/upgrade_dm_via_tiup.yaml
Labels: status/LGT2, status/can-merge, size/XS, release-note-none, area/dm

#6765 redo(ticdc): fix a bug about redo manager error handling
  cdc/redo/manager.go
  cdc/redo/manager_test.go
  cdc/redo/options.go
  cdc/redo/options_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6769 executor(engine): Fix broker config not taking effect
  engine/executor/server.go
  engine/pkg/externalresource/broker/broker.go
  engine/pkg/externalresource/broker/file_manager.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, area/engine

#6706 engine(dm): automatically exit when job finished
  engine/executor/dm/worker.go
  engine/jobmaster/dm/api.go
  engine/jobmaster/dm/checkpoint/agent.go
  engine/jobmaster/dm/checkpoint/agent_test.go
  engine/jobmaster/dm/dm_jobmaster.go
  engine/jobmaster/dm/dm_jobmaster_test.go
  engine/jobmaster/dm/metadata/job.go
  engine/jobmaster/dm/metadata/job_test.go
  engine/jobmaster/dm/runtime/worker_status.go
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/task_manager_test.go
  engine/jobmaster/dm/worker_manager.go
  engine/jobmaster/dm/worker_manager_test.go
  engine/pkg/dm/message_agent.go
  engine/pkg/dm/message_agent_test.go
  engine/pkg/dm/mock_message_agent.go
  engine/pkg/dm/topic.go
  engine/test/e2e/e2e_dm_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/XL, release-note-none, area/engine

#6775 tracker(dm): use TiDB's mock session context to avoid panic
  dm/_utils/terror_gen/errors_release.txt
  dm/errors.toml
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
  dm/pkg/terror/error_list.go
  dm/pkg/utils/common.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, area/dm

#6711 server(cdc): adjust error handling and logs
  cdc/capture/capture.go
  cdc/kv/client.go
  cdc/owner/changefeed.go
  cdc/processor/processor.go
  cdc/puller/puller.go
  cdc/server/server.go
  pkg/cmd/server/server.go
  pkg/orchestrator/reactor_state.go
  pkg/regionspan/region_range_lock.go
  pkg/upstream/upstream.go
  tests/integration_tests/move_table/main.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, type/enhancement

#6780 rpcerror(engine): Support server-side stack trace.
  engine/enginepb/errorv2.pb.go
  engine/pkg/rpcerror/grpc.go
  engine/pkg/rpcerror/grpc_test.go
  engine/pkg/rpcerror/normalize.go
  engine/pkg/rpcerror/normalize_test.go
  engine/proto/errorv2.proto
Labels: status/LGT2, status/can-merge, size/L, release-note-none, type/enhancement, area/engine

#6786 cdc: ensure owner can clean stale redo files correctly
  cdc/owner/changefeed.go
  cdc/redo/options.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6790 engine(dm): unfresh sync unit no need to request resource
  engine/jobmaster/dm/worker_manager.go
  engine/jobmaster/dm/worker_manager_test.go
  engine/test/e2e/e2e_dm_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6798 etcd(ticdc): retry on goaway to be more robust to pd restart
  pkg/errorutil/ignore.go
  pkg/errorutil/ignore_test.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#6795 sinkv2(ticdc): move mysql config into sink pkg
  cdc/sink/mq/manager/kafka_manager.go
  cdc/sink/mq/manager/kafka_manager_test.go
  cdc/sink/mq/mq_test.go
  cdc/sink/mq/producer/kafka/config_test.go
  cdc/sink/mq/producer/kafka/kafka.go
  cdc/sink/mq/producer/kafka/kafka_test.go
  cdc/sink/mq/producer/kafka/metrics.go
  cdc/sinkv2/ddlsink/mq/ddlproducer/ddl_producer.go
  cdc/sinkv2/ddlsink/mq/ddlproducer/kafka_ddl_mock_producer.go
  cdc/sinkv2/ddlsink/mq/ddlproducer/kafka_ddl_producer.go
  cdc/sinkv2/ddlsink/mq/ddlproducer/kafka_ddl_producer_test.go
  cdc/sinkv2/ddlsink/mq/kafka_ddl_sink.go
  cdc/sinkv2/ddlsink/mq/mq_ddl_sink_test.go
  cdc/sinkv2/ddlsink/mysql/.keep
  cdc/sinkv2/eventsink/factory/factory.go
  cdc/sinkv2/eventsink/factory/factory_test.go
  cdc/sinkv2/eventsink/mq/dmlproducer/dml_producer.go
  cdc/sinkv2/eventsink/mq/dmlproducer/kafka_dml_mock_producer.go
  cdc/sinkv2/eventsink/mq/dmlproducer/kafka_dml_producer.go
  cdc/sinkv2/eventsink/mq/dmlproducer/kafka_dml_producer_test.go
  cdc/sinkv2/eventsink/mq/kafka_dml_sink.go
  cdc/sinkv2/eventsink/mq/mq_dml_sink_test.go
  cdc/sinkv2/eventsink/txn/mysql/mysql.go
  cdc/sinkv2/eventsink/txn/mysql/mysql_test.go
  cdc/sinkv2/metrics/kafka/collector.go
  cdc/sinkv2/util/mq/kafka_producer_helper.go
  pkg/sink/kafka/client.go
  pkg/sink/kafka/client_mock_impl.go
  pkg/sink/kafka/cluster_admin_client.go
  pkg/sink/kafka/cluster_admin_client_mock_impl.go
  pkg/sink/kafka/config.go
  pkg/sink/mysql/config.go
  pkg/sink/mysql/config_test.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/factory.go
  pkg/sink/mysql/main_test.go
  pkg/sink/mysql/mock_db.go
Labels: component/sink, status/LGT2, status/can-merge, size/XXL, release-note-none, area/ticdc

#6803 relay(dm): cancel when relay meet error to close goroutine
  dm/relay/relay.go
  dm/tests/duplicate_event/run.sh
  dm/tests/new_relay/run.sh
  dm/worker/relay.go
Labels: status/LGT2, status/can-merge, size/M, release-note, area/dm, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-2.0.5, needs-cherry-pick-release-2.0.6, needs-cherry-pick-release-2.0.7, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#6727 cli (ticdc): refine cdc cli output
  errors.toml
  pkg/cmd/cli/cli_capture_list.go
  pkg/cmd/cli/cli_capture_list_test.go
  pkg/cmd/cli/cli_changefeed_create.go
  pkg/cmd/cli/cli_changefeed_create_test.go
  pkg/cmd/cli/cli_changefeed_helper.go
  pkg/cmd/cli/cli_changefeed_helper_test.go
  pkg/cmd/cli/cli_changefeed_list.go
  pkg/cmd/cli/cli_changefeed_list_test.go
  pkg/cmd/cli/cli_changefeed_pause.go
  pkg/cmd/cli/cli_changefeed_pause_test.go
  pkg/cmd/cli/cli_changefeed_query.go
  pkg/cmd/cli/cli_changefeed_query_test.go
  pkg/cmd/cli/cli_changefeed_remove.go
  pkg/cmd/cli/cli_changefeed_remove_test.go
  pkg/cmd/cli/cli_changefeed_resume.go
  pkg/cmd/cli/cli_changefeed_resume_test.go
  pkg/cmd/cli/cli_changefeed_statistics.go
  pkg/cmd/cli/cli_changefeed_update.go
  pkg/cmd/cli/cli_changefeed_update_test.go
  pkg/cmd/cli/cli_processor_list.go
  pkg/cmd/cli/cli_processor_list_test.go
  pkg/cmd/cli/cli_processor_query.go
  pkg/cmd/cli/cli_processor_query_test.go
  pkg/cmd/cli/cli_tso_query.go
  pkg/cmd/cli/cli_unsafe_delete_service_gc_safepoint.go
  pkg/cmd/cli/cli_unsafe_reset.go
  pkg/cmd/cli/cli_unsafe_resolve_lock.go
  pkg/cmd/cli/cli_unsafe_show_metadata.go
  pkg/cmd/util/helper.go
  pkg/errors/cdc_errors.go
  pkg/errors/helper.go
  pkg/errors/helper_test.go
Labels: status/LGT2, status/can-merge, size/XL, component/cli, release-note-none, type/enhancement

#6815 changefeed (ticdc): Mask sensitive information in changefeed info
  cdc/api/open.go
  cdc/model/changefeed.go
  cdc/model/changefeed_test.go
  pkg/cmd/cli/cli_changefeed_create.go
  pkg/cmd/cli/cli_changefeed_query.go
  pkg/orchestrator/etcd_worker.go
  pkg/util/uri_test.go
Labels: status/LGT2, status/can-merge, needs-cherry-pick-release-5.0, size/M, cherry-pick-approved, needs-cherry-pick-release-5.1, release-note-none, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#6807 sinkv2(ticdc): add MySQL DDL sink
  cdc/sinkv2/ddlsink/factory/factory.go
  cdc/sinkv2/ddlsink/mysql/main_test.go
  cdc/sinkv2/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sinkv2/ddlsink/mysql/mysql_ddl_sink_test.go
  pkg/sink/sink_type.go
Labels: component/sink, status/LGT2, status/can-merge, size/XL, release-note-none, area/ticdc

#6805 pd(ticdc): enlarge pd grpc client timeout to 10 seconds
  pkg/upstream/upstream.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#6788 resource(engine): Improve RPC method error handling
  engine/enginepb/mock/resource_mock.go
  engine/pkg/client/resource_manager_client.go
  engine/pkg/client/resource_manager_client_test.go
  engine/pkg/externalresource/broker/broker.go
  engine/pkg/externalresource/broker/storage_handle.go
  engine/pkg/externalresource/integration_test/cluster_stub.go
  engine/pkg/externalresource/internal/errors.go
  engine/pkg/externalresource/manager/service.go
  engine/pkg/externalresource/manager/service_test.go
  engine/servermaster/server.go
  scripts/generate-engine-mock.sh
Labels: status/ptal, status/LGT2, status/can-merge, size/XXL, release-note-none, area/engine

#6831 remove unused sorterNode func
  cdc/processor/pipeline/sorter.go
  cdc/processor/pipeline/sorter_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none

#6819 version(dm, engine): use pkg/version
  Makefile
  cmd/dm-master/main.go
  cmd/dm-syncer/config.go
  cmd/dm-syncer/main.go
  cmd/dm-worker/main.go
  dm/config/subtask.go
  dm/ctl/ctl.go
  dm/master/config.go
  dm/master/http_handler.go
  dm/master/server_test.go
  dm/pkg/upgrade/version.go
  dm/pkg/utils/printer.go
  dm/pkg/utils/printer_test.go
  dm/worker/config.go
  dm/worker/metrics.go
  engine/pkg/cmd/executor/executor.go
  engine/pkg/cmd/master/master.go
  engine/pkg/cmd/version/version.go
  engine/pkg/version/main_test.go
  engine/pkg/version/version.go
  engine/pkg/version/version_test.go
  pkg/cmd/server/server.go
  pkg/version/version.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, area/dm, area/engine

#6833 syncer(dm): fix collation compatibility behaviour
  dm/syncer/ddl.go
  dm/syncer/ddl_test.go
  engine/jobmaster/dm/runtime/worker_status.go
  go.mod
  go.sum
Labels: status/LGT1, status/can-merge, size/L, require-LGT1, release-note, area/dm, needs-cherry-pick-release-6.1

#6787 processor/pipeline(ticdc): remove useless markTableID
  cdc/model/owner.go
  cdc/model/owner_test.go
  cdc/processor/pipeline/table.go
  cdc/processor/pipeline/table_actor.go
  cdc/processor/pipeline/table_actor_test.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
Labels: component/replica-model, status/LGT2, status/can-merge, size/M, release-note-none, area/ticdc

#6808 test(engine): add DM sync_collation integration test
  deployments/engine/docker-compose/config/tidb.toml
  deployments/engine/docker-compose/dm_databases.yaml
  engine/test/integration_tests/dm_case_sensitive/run.sh
  engine/test/integration_tests/dm_collation/conf/job.yaml
  engine/test/integration_tests/dm_collation/data/db1.increment.sql
  engine/test/integration_tests/dm_collation/data/db1.prepare.sql
  engine/test/integration_tests/dm_collation/data/db2.increment.sql
  engine/test/integration_tests/dm_collation/data/db2.prepare.sql
  engine/test/integration_tests/dm_collation/run.sh
  engine/test/utils/run_sql
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#6850 pkg/uuid(engine): remove dead code
  engine/pkg/uuid/mock.go
  engine/pkg/uuid/uuid.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6818 openapi(engine): improve OpenAPI readablity
  engine/executor/dm/api.go
  engine/executor/dm/api_test.go
  engine/executor/dm/unitholder.go
  engine/executor/dm/unitholder_test.go
  engine/executor/dm/worker.go
  engine/jobmaster/dm/api.go
  engine/jobmaster/dm/api_test.go
  engine/jobmaster/dm/metadata/job.go
  engine/jobmaster/dm/task_manager.go
  engine/pkg/dm/topic.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, area/engine

#6854 sorter(ticdc): deprecate mem sorter and always use unified sorter
  cdc/processor/pipeline/sorter.go
  cdc/sorter/memory/entry_sorter.go
Labels: status/LGT2, status/can-merge, size/S, release-note-none

#6858 sink(ticdc): remove useless API
  cdc/processor/pipeline/puller.go
  cdc/processor/pipeline/sink.go
Labels: component/sink, status/LGT1, status/can-merge, size/XS, require-LGT1, release-note-none, area/ticdc

#6792 meta(engine): Add ErrorMessage and ExtendMessage column for job meta table
  engine/executor/cvs/cvstask.go
  engine/executor/dm/api.go
  engine/executor/dm/api_test.go
  engine/executor/dm/worker.go
  engine/framework/base_jobmaster.go
  engine/framework/base_jobmaster_test.go
  engine/framework/common.go
  engine/framework/fake/fake_master.go
  engine/framework/fake/fake_worker.go
  engine/framework/internal/eventloop/runner.go
  engine/framework/master.go
  engine/framework/metadata/metadata_test.go
  engine/framework/model/master.go
  engine/framework/model/status.go
  engine/framework/model/status_test.go
  engine/framework/statusutil/writer.go
  engine/framework/statusutil/writer_test.go
  engine/framework/worker.go
  engine/framework/worker_test.go
  engine/jobmaster/cvsjob/cvs_job_master.go
  engine/jobmaster/dm/dm_jobmaster.go
  engine/jobmaster/dm/dm_jobmaster_test.go
  engine/pkg/orm/client.go
  engine/pkg/orm/client_test.go
  engine/pkg/orm/mock_test.go
  engine/pkg/orm/util_test.go
  engine/test/mock/grpc.go
  engine/test/mock/test_server.go
Labels: status/ptal, status/LGT2, status/can-merge, size/XXL, release-note-none, area/engine

#6837 cdc: changefeed shouldn't be blocked by sync-point
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/sinkv2/eventsink/txn/mysql/mysql_test.go
Labels: status/LGT2, status/can-merge, size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6746 syncer(dm): enable location recorder
  dm/pkg/binlog/event/util.go
  dm/pkg/binlog/position.go
  dm/syncer/binlogstream/binlog_locations.go
  dm/syncer/binlogstream/binlog_locations_test.go
  dm/syncer/binlogstream/stream_modifier.go
  dm/syncer/binlogstream/streamer_controller.go
  dm/syncer/binlogstream/streamer_controller_test.go
  dm/syncer/causality_test.go
  dm/syncer/compactor_test.go
  dm/syncer/data_validator.go
  dm/syncer/dml_test.go
  dm/syncer/filter.go
  dm/syncer/filter_test.go
  dm/syncer/job.go
  dm/syncer/job_test.go
  dm/syncer/opt_sharding_group_test.go
  dm/syncer/optimist.go
  dm/syncer/shardddl.go
  dm/syncer/sharding-meta/shardmeta.go
  dm/syncer/sharding_group.go
  dm/syncer/syncer.go
  dm/tests/fake_rotate_event/run.sh
  dm/tests/handle_error/run.sh
Labels: status/LGT2, size/XXL, release-note-none, area/dm

#6870 meta(engine): KV interface method 'Get' return an empty response when meets 'record not found'
  engine/pkg/meta/internal/sqlkv/sql_impl.go
  engine/pkg/meta/internal/sqlkv/sql_impl_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6834 sinkv2(ticdc): add statistics for MQ DML and DDL sinks
  cdc/sinkv2/ddlsink/mq/mq_ddl_sink.go
  cdc/sinkv2/eventsink/mq/kafka_dml_sink.go
  cdc/sinkv2/eventsink/mq/mq_dml_sink.go
  cdc/sinkv2/eventsink/mq/worker.go
  cdc/sinkv2/eventsink/mq/worker_test.go
  cdc/sinkv2/metrics/statistics.go
Labels: component/sink, status/LGT2, status/can-merge, size/L, release-note-none, area/ticdc

#6672 test(engine): handle integration test logs properly
  .github/workflows/dataflow_engine_e2e.yaml
  Makefile
  cmd/tiflow-demoserver/kvdatamake.go
  deployments/engine/docker-compose/1m1e.yaml
  deployments/engine/docker-compose/1m3e.yaml
  deployments/engine/docker-compose/3m3e.yaml
  deployments/engine/docker-compose/demo.yaml
  deployments/engine/docker-compose/dm_databases.yaml
  deployments/engine/docker/dev.Dockerfile
  docs/ci/command.md
  engine/test/e2e/e2e_node_chaos_test.go
  engine/test/integration_tests/README.md
  engine/test/integration_tests/dm_basic/run.sh
  engine/test/integration_tests/dm_case_sensitive/run.sh
  engine/test/integration_tests/dm_collation/run.sh
  engine/test/integration_tests/dm_full_mode/conf/diff_config.toml
  engine/test/integration_tests/dm_full_mode/run.sh
  engine/test/integration_tests/e2e_basic/run.sh
  engine/test/integration_tests/e2e_node_failure/run.sh
  engine/test/integration_tests/e2e_worker_error/run.sh
  engine/test/integration_tests/run.sh
  engine/test/utils/adjust_config
  engine/test/utils/run_engine.sh
  engine/test/utils/start_engine_cluster
  engine/test/utils/stop_engine_cluster
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, area/engine

#6868 syncer(dm): merge location recorder from feature branch
  dm/pkg/binlog/event/common.go
  dm/pkg/binlog/event/dml.go
  dm/pkg/binlog/event/util.go
  dm/pkg/binlog/position.go
  dm/pkg/binlog/position_test.go
  dm/pkg/binlog/reader/reader.go
  dm/syncer/binlog_locations_test.go
  dm/syncer/binlogstream/binlog_locations.go
  dm/syncer/binlogstream/binlog_locations_test.go
  dm/syncer/binlogstream/streamer_controller.go
  dm/syncer/binlogstream/streamer_controller_test.go
  dm/syncer/binlogstream/util.go
  dm/syncer/causality_test.go
  dm/syncer/compactor_test.go
  dm/syncer/data_validator.go
  dm/syncer/data_validator_test.go
  dm/syncer/dml_test.go
  dm/syncer/filter.go
  dm/syncer/filter_test.go
  dm/syncer/job.go
  dm/syncer/job_test.go
  dm/syncer/opt_sharding_group_test.go
  dm/syncer/optimist.go
  dm/syncer/shardddl.go
  dm/syncer/sharding_group.go
  dm/syncer/syncer.go
  dm/syncer/syncer_test.go
  dm/tests/drop_column_with_index/run.sh
  dm/tests/fake_rotate_event/run.sh
  dm/worker/source_worker.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none

#6876 serverutil(engine): don't panic when notifier is closed in executor watcher
  engine/servermaster/server.go
  engine/servermaster/serverutil/watch_executors.go
  engine/servermaster/serverutil/watch_executors_test.go
  errors.toml
  pkg/errors/engine_errors.go
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6855 readme(engine): move engine readme to tiflow dir and fix some outdated test discription
  Makefile
  Makefile.engine
  README_Engine.md
  engine/test/utils/run_engine.sh
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6878 test(engine): fix worker not found caused by asynchronous create worker
  engine/framework/master_test.go
  engine/framework/mock_master_util.go
  engine/jobmaster/example/master_impl_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6864 servermaster(engine): add list masters/executors api
  engine/enginepb/executor.pb.go
  engine/enginepb/executor_grpc.pb.go
  engine/enginepb/master.pb.go
  engine/enginepb/master.pb.gw.go
  engine/enginepb/master_grpc.pb.go
  engine/enginepb/mock/executor_mock.go
  engine/executor/config.go
  engine/executor/server.go
  engine/executor/server_test.go
  engine/model/cluster.go
  engine/pkg/client/client_mock.go
  engine/pkg/client/discovery_client.go
  engine/pkg/client/executor_client.go
  engine/pkg/client/executor_service_client.go
  engine/pkg/client/executor_service_client_test.go
  engine/pkg/externalresource/manager/interfaces.go
  engine/pkg/openapi/apiv1.swagger.json
  engine/pkg/rpcerror/grpc.go
  engine/proto/executor.proto
  engine/proto/master.proto
  engine/servermaster/executor_manager.go
  engine/servermaster/executor_manager_test.go
  engine/servermaster/server.go
  engine/servermaster/server_test.go
  engine/test/mock/grpc.go
  errors.toml
  pkg/errors/engine_errors.go
  scripts/generate-engine-mock.sh
Labels: status/ptal, status/LGT2, status/can-merge, size/XXL, release-note-none, area/engine

#6781 *(ticdc): reduce duplicate logs
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
  cdc/kv/client.go
  cdc/model/sink.go
  cdc/owner/ddl_sink.go
  cdc/owner/schema.go
  cdc/processor/processor.go
  cdc/puller/ddl_puller.go
  cdc/scheduler/internal/v3/agent/agent.go
  cdc/scheduler/internal/v3/member/capture_manager.go
  pkg/orchestrator/reactor_state.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none

#6882 changefeed (ticdc): fix owner stuck when closing a changefeed
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_sink.go
  tests/integration_tests/changefeed_error/run.sh
Labels: status/LGT2, status/can-merge, size/L, needs-cherry-pick-release-5.1, release-note-none, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#6885 engine(test): fix mysql authentication error
  Makefile
  deployments/engine/docker-compose/1m1e.yaml
  deployments/engine/docker-compose/1m3e.yaml
  deployments/engine/docker-compose/1meta.yaml
  deployments/engine/docker-compose/3m3e.yaml
  deployments/engine/docker-compose/dm_databases.yaml
  engine/test/integration_tests/run.sh
  engine/test/utils/check_case.sh
Labels: status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6896 changefeed (ticdc): fix mysql sink config contains protocol error
  cdc/model/changefeed.go
  cdc/model/changefeed_test.go
  cdc/owner/changefeed.go
  pkg/version/creator_version_gate.go
  pkg/version/creator_version_gate_test.go
Labels: status/LGT2, status/can-merge, size/XL, release-note-none, needs-cherry-pick-release-6.1

#6891 discovery(engine): refactor agent to use list api
  engine/executor/server.go
  engine/internal/pkg/discovery/agent.go
  engine/internal/pkg/discovery/agent_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/XXL, release-note-none, area/engine

#6836 schedulerV3(ticdc): burst add table in a batch way to delay resource allocation
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/coordinator_test.go
  cdc/scheduler/internal/v3/member/capture_manager.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
  cdc/scheduler/internal/v3/replication/replication_set.go
  cdc/scheduler/internal/v3/scheduler/scheduler_basic.go
  cdc/scheduler/internal/v3/scheduler/scheduler_basic_test.go
  cdc/scheduler/internal/v3/scheduler/scheduler_manager.go
  pkg/cmd/server/server_test.go
  pkg/config/config_test_data.go
  pkg/config/scheduler_config.go
  pkg/config/server_config_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, needs-cherry-pick-release-6.2

#6872 engine(dm): add bootstrap/upgrade package
  engine/jobmaster/dm/api_test.go
  engine/jobmaster/dm/bootstrap/upgrade.go
  engine/jobmaster/dm/bootstrap/upgrade_test.go
  engine/jobmaster/dm/checkpoint/agent.go
  engine/jobmaster/dm/checkpoint/agent_test.go
  engine/jobmaster/dm/dm_jobmaster.go
  engine/jobmaster/dm/dm_jobmaster_test.go
  engine/jobmaster/dm/metadata/cluster_info.go
  engine/jobmaster/dm/metadata/cluster_info_test.go
  engine/jobmaster/dm/metadata/job.go
  engine/jobmaster/dm/metadata/job_test.go
  engine/jobmaster/dm/metadata/metadata.go
  engine/jobmaster/dm/openapi_test.go
  engine/jobmaster/dm/task_manager_test.go
  engine/jobmaster/dm/worker_manager_test.go
  engine/pkg/adapter/keyadapter.go
  engine/pkg/dm/message_agent_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/XL, release-note-none, area/engine

#6897 model(engine): support ext field in MasterMetaKVData
  engine/framework/model/master.go
  engine/framework/model/master_test.go
  engine/pkg/orm/client_test.go
Labels: status/LGT2, status/can-merge, size/L, release-note-none, area/engine

#6910 engine(dm): remove job id prefix in metadata
  engine/jobmaster/dm/api_test.go
  engine/jobmaster/dm/dm_jobmaster.go
  engine/jobmaster/dm/metadata/cluster_info.go
  engine/jobmaster/dm/metadata/cluster_info_test.go
  engine/jobmaster/dm/metadata/ddl.go
  engine/jobmaster/dm/metadata/job.go
  engine/jobmaster/dm/metadata/job_test.go
  engine/jobmaster/dm/metadata/metadata.go
  engine/jobmaster/dm/openapi_test.go
  engine/jobmaster/dm/task_manager_test.go
  engine/jobmaster/dm/worker_manager_test.go
  engine/pkg/adapter/keyadapter.go
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6912 pkg/notifier(engine): fix receiver being blocked on closing
  engine/pkg/notifier/notifier.go
  engine/pkg/notifier/notifier_test.go
Labels: status/ptal, status/LGT2, status/can-merge, size/M, release-note-none, area/engine

#6929 metrics(ticdc): etcd worker tick reactor duration also show p999 to reveal long duration ticks.
  cdc/puller/ddl_puller.go
  metrics/grafana/ticdc.json
Labels: status/LGT2, status/can-merge, size/XL, component/metrics-logging, release-note-none, type/enhancement

#6924 test(engine): add option --try-nums to the wait_mysql_online script
  engine/test/integration_tests/dm_basic/run.sh
  engine/test/utils/wait_mysql_online.sh
Labels: status/LGT2, status/can-merge, size/S, release-note-none, area/engine

#6933 pd(ticdc): fix collect member endpoint meet panic.
  pkg/pdutil/api_client.go
Labels: status/LGT2, status/can-merge, size/XS, release-note-none

#6782 syncer: remove syncer dependency from shardddl
  dm/syncer/checkpoint.go
  dm/syncer/ddl.go
  dm/syncer/ddl_test.go
  dm/syncer/filter.go
  dm/syncer/filter_test.go
  dm/syncer/opt_sharding_group.go
  dm/syncer/shardddl.go
  dm/syncer/syncer.go
  dm/syncer/syncer_test.go
  tests/integration_tests/move_table/main.go
Labels: status/LGT2, status/can-merge, size/XXL, release-note-none, area/dm

#6934 engine(test): add docker in docker config
  Makefile
  deployments/engine/docker/dind.Dockerfile
  engine/test/utils/check_log.sh
Labels: status/LGT2, status/can-merge, size/S, release-note-none, area/engine

#6943 fmt(*): fix comment format for go1.19
  dm/syncer/ddl.go
Labels: status/LGT1, status/can-merge, size/XS, require-LGT1, release-note-none
